@keyframes moveInBottom {
  0% {
    opacity: 0.5;
    transform: translateY(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  box-sizing: border-box; }

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: rgb(255, 255, 255);
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --clr-svg-accent: invert(83%) sepia(37%) saturate(5453%) hue-rotate(117deg)
    brightness(103%) contrast(83%);
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15); }

/* General styles */
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6; }

section {
  padding: 5rem 2rem; }

:focus {
  outline: 3px solid #999999;
  outline-offset: 3px; }

img {
  display: block;
  max-height: 100%;
  height: auto;
  width: auto;
  max-width: 100%; }

strong {
  font-weight: var(--fw-bold); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 2.5rem;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.1rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(var(--clr-dark), 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(var(--clr-dark), 0.2); }

.btn--accent {
  background-color: var(--clr-accent);
  color: var(--clr-dark); }
  .btn--accent::after {
    background-color: var(--clr-accent); }
  .btn--accent-git {
    background-color: var(--clr-light);
    color: var(--clr-dark); }
    .btn--accent-git::after {
      background-color: var(--clr-light); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.1s;
  animation-fill-mode: backwards; }

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5rem 0;
  font-size: var(--fs-h3); }
  .footer a {
    color: inherit;
    text-decoration: none; }
  .footer__link {
    font-weight: var(--fw-bold); }
  .footer__link:hover,
  .footer .social-list__link:hover {
    opacity: 0.7; }
  .footer__link:hover {
    text-decoration: underline; }

.flex-col {
  display: flex;
  flex-direction: column; }

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
  padding: 0; }
  .social-list__item {
    margin: 0 0.5rem; }
  .social-list__link {
    padding: 0.5rem; }

/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  background-color: var(--clr-accent);
  /* Because we want header to be sticky later */
  height: 5rem;
  padding: 0 1rem;
  position: relative; }

.logo {
  height: 2rem; }

/**************************/
/* NAVIGATION */
/**************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: end;
  gap: 2rem; }

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s; }

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--clr-accent); }

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--clr-light);
  background-color: var(--clr-dark); }

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--clr-accent); }

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333; }

.icon-mobile-nav[name="close-outline"] {
  display: none; }

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03); }

.sticky .section-hero {
  margin-top: 9.6rem; }

.intro {
  position: relative; }
  .intro__img {
    box-shadow: var(--bs); }

.section__subtitle--intro {
  display: inline-block; }

.about-me {
  margin: 0 10rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content;
  grid-row-gap: 1rem;
  left: -1.5rem;
  min-width: min-content;
  width: 90vw; }
  .about-me__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 51rem;
    text-overflow: ellipsis;
    white-space: wrap; }

.section__subtitle--about {
  left: -1rem; }

.section__title--services {
  max-width: 500px;
  margin: 0 auto; }
  .section__title--services:after {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25; }

.service {
  background-color: var(--clr-accent);
  background-image: url(../img/services-background.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  /* so it never repeats itself */
  color: var(--clr-light);
  text-align: center; }
  .services {
    margin-bottom: 4rem; }
    .services__item {
      max-width: 50rem;
      margin: 0 auto; }

.work-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
  padding: 0; }
  .work-list__item {
    color: var(--clr-accent);
    margin: 0 0.5rem; }

.svg-icon {
  height: 2rem;
  text-align: center;
  margin-top: 4px;
  filter: var(--clr-svg-accent); }
  .svg-icon-b {
    height: 1rem; }

.about-me {
  max-width: 100rem;
  margin: 0 auto; }

h1,
h2,
h3 {
  line-height: 1;
  margin: 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 1.25rem; }

.section__title {
  margin-bottom: 0.25rem; }
  .section__title strong {
    display: block; }
  .section__title--intro {
    font-weight: var(--fw-reg); }

.section__subtitle {
  margin: 0;
  font-size: 1.25rem;
  position: relative; }
  .section__subtitle--intro, .section__subtitle--about {
    background: var(--clr-accent);
    padding: 0.25rem 1rem;
    font-family: var(--ff-secondary);
    margin-bottom: 1rem; }
  .section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2rem; }

.svg-icon-b {
  float: right;
  height: 3rem;
  position: absolute;
  bottom: 0;
  right: -2.5rem; }

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center; }

.portfolio {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  row-gap: 5rem;
  column-gap: 2.5rem; }
  .portfolio__item {
    justify-content: center;
    display: grid;
    grid-template-rows: 6rem 16rem 6rem min-content min-content;
    grid-template-columns: calc(2 / (16rem * 1.6189)) calc(2 / (16rem * 1.6189));
    overflow: hidden;
    border: white solid 2px;
    width: 30rem;
    height: calc(30rem * 1.6189);
    position: relative; }
    .portfolio__item--head {
      grid-column: 1 / 3;
      color: var(--clr-accent);
      font-size: 4rem;
      margin: 1rem 0.8rem;
      height: min-content; }
  .portfolio__img {
    place-self: center;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    height: 100%;
    width: calc(16rem * 1.6189);
    background-size: cover;
    background-position: center; }
  .portfolio--btn {
    place-self: center start;
    width: max-content;
    height: max-content;
    padding: 0.5rem 1.5rem !important; }
    .portfolio--btn-git {
      background-color: var(--clr-light);
      place-self: center end; }
  .portfolio__icon {
    height: 2.5rem;
    filter: var(--clr-svg-accent); }
    .portfolio__icon-container {
      margin: 0.3rem 1rem;
      grid-column: 1/3;
      display: flex;
      justify-content: space-around; }
  .portfolio-list {
    grid-column: 1/3;
    line-height: 3rem;
    font-size: 1.5rem;
    color: var(--clr-accent);
    text-align: start;
    list-style-type: square;
    justify-self: center;
    position: relative;
    left: -1rem; }
    .portfolio-list--login {
      list-style-type: circle; }
  .portfolio-logo {
    position: absolute;
    right: 0.7rem;
    bottom: 0.7rem;
    height: 2.5rem; }

.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s; }

.section--hidden {
  opacity: 0;
  transform: translateY(8rem); }

.section__title-slider {
  max-width: 80rem;
  margin: 0 auto 8rem auto; }

.section__description {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary-text);
  margin-bottom: 1rem; }

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500; }

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 55rem;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden; }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s; }

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover; }

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: #16e0bec0;
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer; }

.slider__btn--left-arr {
  position: absolute;
  top: -2.5rem;
  left: 1rem; }

.slider__btn--right-arr {
  position: absolute;
  top: -2.5rem;
  left: 1rem; }

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%); }

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%); }

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */ }

.dots__dot:last-child {
  margin: 0; }

.dots__dot--active {
  /* background-color: #fff; */
  background-color: white;
  opacity: 1; }

@media (max-width: 600px) {
  html {
    font-size: 80%; }
  .section__title--intro {
    font-size: 5rem; }
  .section__subtitle--intro {
    font-size: 3rem; }
  .svg-icon-b {
    height: 100%;
    right: -5rem; }
  /* MOBILE NAVIGATION */
  .nav-toggle {
    display: block;
    z-index: 9999; }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */
    /* 1) Hide it visually */
    opacity: 0;
    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3) Hide it from screen readers */
    visibility: hidden; }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0); }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block; }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none; }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem; }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem; } }

@media (max-width: 531px) {
  .svg-icon-b {
    margin-bottom: 1rem;
    height: 80%;
    right: 0.1rem; } }

@media (max-width: 375px) {
  html {
    font-size: 60%; } }

@media (min-width: 600px) {
  .nav-toggle {
    opacity: 0;
    pointer-events: none;
    visibility: hidden; }
  html {
    font-size: 80%; }
  .intro {
    display: grid;
    width: max-content;
    margin: 0 auto;
    grid-column-gap: 1rem;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content; }
    .intro__img {
      grid-area: img;
      min-width: 25rem;
      position: relative;
      z-index: 2; }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5rem;
    width: calc(100% + 1.5rem); }
  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2/3;
    position: relative;
    left: -1rem;
    width: calc(max-content + 1rem);
    padding-left: 1rem;
    padding-right: 2rem; } }

@media (min-width: 800px) {
  html {
    font-size: 100%; }
  .services {
    display: flex;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto; }
    .services__item + .services__item {
      margin-left: 2rem; }
  .about-me {
    width: 51rem; } }

@media (min-width: 2000px) {
  html {
    font-size: 102.5%; } }
