*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: rgb(255, 255, 255);
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --clr-svg-dark: invert(13%) sepia(0%) saturate(0%) hue-rotate(231deg)
    brightness(94%) contrast(83%);
  --clr-svg-accent: invert(83%) sepia(37%) saturate(5453%) hue-rotate(117deg)
    brightness(103%) contrast(83%);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* General styles */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}
a {
  z-index: 998;
}

section {
  padding: 5rem 2rem;
}

:focus {
  outline: 3px solid rgb(153, 153, 153);
  outline-offset: 3px;
}

img {
  display: block;
  max-height: 100%;
  height: auto;
  width: auto;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}
