.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 2.5rem;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-size: 0.8rem;

    // change for the <button> element
    border: none;
    cursor: pointer;
  }

  // z-index: 1000;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(var(--clr-dark), 0.2);

    &::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(var(--clr-dark), 0.2);
  }

  &--accent {
    background-color: var(--clr-accent);
    color: var(--clr-dark);

    &::after {
      background-color: var(--clr-accent);
    }

    &-git {
      background-color: var(--clr-light);
      color: var(--clr-dark);

      &::after {
        background-color: var(--clr-light);
      }
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.1s;
    animation-fill-mode: backwards;
  }
}
