.section__title--services {
  max-width: 500px;
  margin: 0 auto;

  &:after {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
  }
}

.service {
  background-color: var(--clr-accent);
  background-image: url(../img/services-background.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  /* so it never repeats itself */
  color: var(--clr-light);
  text-align: center;

  &s {
    margin-bottom: 4rem;

    &__item {
      max-width: 50rem;
      margin: 0 auto;
    }
  }
}

.work-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
  padding: 0;

  &__item {
    color: var(--clr-accent);
    margin: 0 0.5rem;
  }
}

.svg-icon {
  height: 2rem;
  text-align: center;
  margin-top: 4px;
  filter: var(--clr-svg-accent);

  &-b {
    height: 1rem;
  }
}

.about-me {
  max-width: 100rem;
  margin: 0 auto;
}
