.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  row-gap: 5rem;
  column-gap: 2.5rem;

  z-index: 1;

  &__item {
    justify-content: center;

    display: grid;
    grid-template-rows: 4rem 2rem 16rem 6rem min-content min-content;
    overflow: hidden;
    border: white solid 2px;

    width: 30rem;
    height: calc(30rem * 1.6189);

    position: relative;
    z-index: 2;

    &--head {
      grid-column: 1 / 3;
      color: var(--clr-accent);
      font-size: 2.5rem;
      margin: 0.7rem 0.8rem 0.5rem 0.8rem;
      height: min-content;
    }

    &--sub {
      grid-row: 2/3;
      grid-column: 1/3;
      text-align: center;
      height: min-content;
    }
  }

  &__img {
    place-self: center;

    grid-row: 3 / 4;
    grid-column: 1 / 3;

    height: 100%;
    width: calc(16rem * 1.6189);
    background-size: cover;
    background-position: center;
  }

  &--btn {
    grid-row: 4/5;
    place-self: center start;
    width: max-content;
    height: max-content;
    padding: 0.5rem 1.5rem !important;

    &-git {
      background-color: var(--clr-light);
      place-self: center end;
    }
  }

  &__icon {
    height: 2.5rem;
    filter: var(--clr-svg-accent);

    &-container {
      margin: 0.3rem 1rem;
      grid-column: 1/3;

      display: flex;
      // margin-bottom: 1em;
      justify-content: space-around;
    }
  }

  &-list {
    grid-column: 1/3;
    line-height: 3rem;
    font-size: 1.5rem;
    color: var(--clr-accent);
    text-align: start;
    list-style-type: square;
    justify-self: center;
    position: relative;
    left: -1rem;

    &--login {
      list-style-type: circle;
    }
  }

  &-logo {
    position: absolute;
    right: 0.7rem;
    bottom: 0.7rem;
    height: 2.5rem;
  }
}
